body {
    background-color: #070405;
    color: #ffffff; 
}
.Logo{
    display: grid;
    place-items: center;
}

  .grid {
    position: absolute;
    width: 150px;
    height: 150px;
    transition: background-color 0.2s ease-in-out;
    background-color: #fdc40c;
  }
  .grid:hover {
    background-color: pink;
  }
  .grid-item1 {
    top: 0;
    left: 0;
    border-radius: 0 0 100% 0;
    
  }
  .grid-item2 {
    top: 0;
    right: 0;
    border-radius: 0 0 0 100%;
  }
  .grid-item3 {
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 0;
  }
  .grid-item4 {
    bottom: 0;
    right: 0;
    border-radius: 100% 0 0 0;
  }
