body {
    background-color: #070405;
    color: #ffffff; 
}
.Logo{
    display: grid;
    place-items: center;
}

  .grid {
    position: absolute;
    width: 50%;
    height: 50%;
    transition: background-color 0.2s ease-in-out;
  }
  .grid:hover {
    background-color: pink;
  }
  .grid-item1 {
    top: 0;
    left: 0;
    background-color: yellow;
    border-radius: 0 0 100% 0;
    width: 150px;
    height: 150px;
  }
  .grid-item2 {
    top: 0;
    right: 0;
    background-color: yellow;
    border-radius: 0 0 0 100%;
    width: 150px;
    height: 150px;
  }
  .grid-item3 {
    bottom: 0;
    left: 0;
    background-color: yellow;
    border-radius: 0 100% 0 0;
    width: 150px;
    height: 150px;
  }
  .grid-item4 {
    bottom: 0;
    right: 0;
    background-color: yellow;
    border-radius: 100% 0 0 0;
    width: 150px;
    height: 150px;
  }


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
   }
   
   
   .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
   }